/***************************** STYLE GUIDE ******************************
BLUE :                    #1c73a5
SEA-GREEN:                #29a284
YELLOW-GREEN:             #a5d060
YELLOW-GREEN (alt):       #89bd35;  darker, for limited-use text on white bg
*/

/***************************** BASE/GLOBAL STYLES *****************************/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 300;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
  /* the following lines allow the drop shadow to display*/
  position: relative;
  z-index: 10;
}

header {
  padding: 0;
  margin: 0;
}

section, footer {
  padding: 20px 20px;
}

.shadow {
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
}

::selection {
  color: white;
  background: #29a284;
}

/***************************** SCROLLBAR STYLES *****************************/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(150deg, #1c73a5 0%, #29a284 50%, #a5d060); */
  background: linear-gradient(#1c73a5 0%, #29a284 50%, #a5d060);
  border: 2px solid #ddd;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/***************************** HEADER STYLES *****************************/

header nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
}

header nav ul a {
  color: #89bd35;
}

header nav ul li {
  display: inline;
  font-size: 1.4em;
  padding: 20px;
}

#personal-brand-wrapper {
  font-size: 1rem;
}

#personal-brand {
  padding: 0 20px;
}

#personal-name {
  font-weight: normal;
  margin: 0;
  color: #0c9b77;
}

#personal-title {
  color: #0c679b;
}

#logo {
  padding: 10px 0 0 0;
}

#logo img {
  max-height: 50px;
}

#hamburger-menu {
  color: #ddd;
  font-size: 3rem;
  padding: .5rem 0 0 0;
  display: inline;
  float: left;
}

/***************************** CARD STYLES *****************************/

#card-missemily {
  background-image: url('../images/miss-emily-screenshot.jpg');
}
#card-friscowine {
  background-image: url('../images/frisco-wine-screenshot.jpg');
}
#card-nufood{
  background-image: url('../images/nuvegfood-screenshot.jpg');
}
#card-strictlyusa {
  background-image: url('../images/strictlyusa-screenshot.jpg');
}
#card-shinspiano {
  background-image: url('../images/shinspiano-screenshot.jpg');
}

.card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #ddd;
  color: #222;
  font-size: .85em;
  font-weight: normal;
  margin: .5em;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

  flex-basis: 22%;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;

  min-height: 200px;
  min-width: 250px;
  max-width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.card:hover {
  cursor: pointer;
}

.card img {
  display: none; /* will get rendered with js replacement of image as .card background */
}

.card p {
  display: inline-block;
  padding: .5em 0;
  margin: 0;
  width: 100%;
  background-color: #ddd;
  border-radius: 0 0 3px 3px;
  flex-grow: 1;
}

/***************************** CONTENT STYLES *****************************/

#content-wrapper {
  font-size: 1.25rem;
}

section h2 {
  margin-bottom: .25em;
}

.section-subheading {
  margin: 0 0 1em 0;
  font-style: italic;
  font-size: .85em;
}


.gradient-theme-blue { background: linear-gradient(150deg, #1c73a5, #29a284); }
.gradient-theme-green { background: linear-gradient(150deg, #29a284, #a5d060); }

.gradient-theme-blue, .gradient-theme-green {
  color: white;
}

.gradient-theme-blue a, .gradient-theme-green a{
  color: #222;
}

.light-theme {
  background: #ddd;
  color: #222;
}
.light-theme a {
  color: #29a284;
}

.dark-theme {
  background-color: #222;
  color: white;
}
.dark-theme a {
  color: #a5d060;
}

#personal-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}

#personal-pics img:first-child {
  max-width: 80%;
}

#personal-pics img {
  max-width: 20%;
  border-radius: 50%;
  border: 5px solid #555;
  margin: 20px 0;
}

#contact ul, #extras ul {
  list-style-type: none;
}

#contact ul li, #extras ul li {
    padding-bottom: 0.5em;
}

i.material-icons {
    font-size: 2rem;
    padding-right: 10px;
    position: relative;
    top: 0.3em;
    color: #ddd;
}

/***************************** FOOTER STYLES *****************************/

#back-to-top {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 10%;
    color: rgba(0,0,0,0.3);
    border-bottom: 3px solid rgba(0,0,0,0.3);
    font-size: 3em;
    padding: 0.5rem;
}

/***************************** MEDIA QUERIES *****************************/

@media only screen and (max-width: 600px) {
  header nav ul li {
    padding: 0.6em;
  }
}

@media only screen and (min-width: 601px) {
  #personal-pics img, #personal-pics img:first-child {
    max-width: 150px;
  }

  header nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #hamburger-menu {
    display: none;
  }

  .card {
    max-width: 48.5%;
  }
}

@media only screen and (min-width: 1024px) {
  section, footer {
    padding: 20px 20%;
  }
}
